{% extends "voc2.j2" %}

{% block summary %}
<p> Dit vocabularium omvat de incentivering van (maatschappelijk) gewenst gedrag via een (digitale) munten, punten of andere vormen van beloning. Vervolgens ook het verhogen van participatie door onder andere burgers, werknemers, studenten te laten deelnemen aan waardevolle acties. Hiernaast wordt de lokale economie gestimuleerd door meer bestedingen in eigen regio te promoten. Ten slotte is er ook nog de ontwikkeling van een mechanisme om de (digitale) munten, punten of andere vormen van beloning zo veel mogelijk binnen de gemeenschap te laten circuleren. 
</p>
<p>Ter illustratie van het model zullen wij het volgende voorbeeld hanteren:"Stijn gaat naar de chirofuif in Balen en legt bij aankomst een safe alcoholtest af. Hiervoor ontvangt Stijn 3 <a href="https://www.balen.be/product/2594/sobercoins" target="_blank">munten.</a> op de chirofuif die dezelfde avond kunnen worden opgebruikt."  </p>
<p> Een tweede voorbeeld, deze keer van een ingevuld model, kan <a href="https://github.com/Informatievlaanderen/OSLOthema-incentiveringsplatform/blob/main/resources/OSLO-Incentiveringsplatform-Voorbeeld.pdf" target="_blank">via deze link</a> teruggevonden worden. </p>
{% endblock %}
