{% extends "ap2.j2" %}

{% block summary %}
<p> Dit applicatieprofiel omvat de incentivering van (maatschappelijk) gewenst gedrag via een (digitale) munten, punten of andere vormen van beloning. Vervolgens ook het verhogen van participatie door onder andere burgers, werknemers, studenten te laten deelnemen aan waardevolle acties. Hiernaast wordt de lokale economie gestimuleerd door meer bestedingen in eigen regio te promoten. Ten slotte is er ook nog de ontwikkeling van een mechanisme om de (digitale) munten, punten of andere vormen van beloning zo veel mogelijk binnen de gemeenschap te laten circuleren.  </p>
{% endblock %}
